
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fom{

    margin-top: 2rem;


}
.imgRegister {
    height: 99vh;
    background-size: contain;
}

.formLogin {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 20rem;
    p{

        text-align: center;
        font-size: 48px;
        font-style: normal;
        color: #222244;


    }
    form{
        margin-top: 3.2rem;
 
    }


}


@media (max-width: 1050px) {

    .main{
        margin: auto;
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .formLogin{
            margin-right: 0;
        }

    }
    .imgRegister{
        display: none;
    }
    .fom{
        margin-top: 9rem;  
    }

}


@media (max-width: 590px) {
    .main{
        margin: auto;
    
    }

}
@media (max-width: 425px) {
    .main{
        margin: auto;
        .fom{
            width: 100%;
        }
        .formLogin {
            margin-top: 12rem;
            width: 100%;

            p{
                margin: auto;
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }           


            form{
                display: flex;
                width: 90%;
                height: 128px;
                flex-direction: column;
                flex-shrink: 0;
            }
        }
    
    }

}
@media (max-width: 360px) {
    .main{
        margin: 2rem;
  
        .formLogin {
            margin-top: 12rem;   


            p{
                margin: auto;
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }           

            form{
                display: flex;
                flex-direction: column;
    
  
            }
        }
    
    }

}