
.main{
    display: flex;
    align-items: center;
    gap: 25.3rem;
}
.fom{

    margin-top: 2rem;


}
.imgRegister {
    height: 99vh;
    background-size: contain;
}

.formLogin {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    p{

        text-align: center;
        font-size: 48px;
        font-style: normal;
        color: #222244;


    }
    form{
        margin-top: 3.2rem;
 
    }

}

@media (max-width: 1200px) {
    .main{
        gap: 15.3rem;
    
    }

}
@media (max-width: 1085px) {
    .main{
        gap: 4.0rem;
    
    }

}
@media (max-width: 975px) {

    .main{
        margin: auto;
        gap: 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .imgRegister{
        display: none;
    }
    .fom{
        margin-top: 9rem;  
    }

}


@media (max-width: 590px) {
    .main{
        margin: auto;
    
    }

}
@media (max-width: 412px) {
    .main{
        margin: auto;
        .formLogin {
            margin-top: 12rem;
            width: 360px;
            p{
                margin: auto;
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }           


            form{
                display: flex;
                width: 400px;
                height: 128px;
                flex-direction: column;
                flex-shrink: 0;
            }
        }
    
    }

}
@media (max-width: 360px) {
    .main{
        margin: 2rem;
        .fom{
            margin-top: 12rem;  
        }
        .formLogin {
            margin-top: 12rem;   
            margin: 2rem;

            p{
                margin: auto;
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }           

            form{
                display: flex;
                margin-left: 6rem;
                flex-direction: column;
    
  
            }
        }
    
    }

}