.divDuo{
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 1.6rem;
    width: 51.7rem;
    .inputDuo{
        width: 25.05rem ;
        
    } 
}


.div{
    margin: 1rem;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
    .input{
        width: 51.7rem;
    }
}



@media (max-width: 520px) {
    .divDuo{
        flex-direction: column;
        align-items: start; 
        .inputDuo{
  
            width: 48rem;
        } 
    }
    .div{
        .input{
            width: 48rem;
        }
    }
}