.divDuo{
    display: flex;
    align-items: center;
    margin: 1rem;
    gap: 1.6rem;
    width: 51.7rem;
    .inputDuo{
        width: 25.05rem ;
        height: 5.6rem;
        input{
            font-size: 1.6rem;
        }
        label{
            font-size: 1.6rem;
            background-color: #fff;
        }
        div{
            font-size: 1.6rem;  
        }    
    } 
}

.div{
    margin: 1rem;
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
    font-size: 1.6rem;
    .input{
        width: 51.7rem;
        height: 5.6rem;
        input{
            font-size: 1.6rem;
        }
        label{
            font-size: 1.6rem;
            background-color: #fff;
        }
        div{
            font-size: 1.6rem;  
        }
    }
}



@media (max-width: 520px) {
    .divDuo{
        flex-direction: column;
        align-items: start; 
        .inputDuo{
  
            width: 45rem;
        } 
    }
    .div{
        width: 45rem;
        .input{
            width: 45rem;
        }
    }
}
@media (max-width: 560px) {
    .divDuo{
        flex-direction: column;
        align-items: start; 
        .inputDuo{
  
            width: 48rem;
        } 
    }
    .div{
        .input{
            width: 48rem;
        }
    }
}
@media (max-width: 412px) {
    
    .divDuo{
        flex-direction: column;
        align-items: start; 
        .inputDuo{
  
            width: 20rem;
        } 
    }
    .div{
        .input{
            display: flex;
            height: 56px;
            width: 37rem;

        }
    }
}