
.main{
    display: flex;
    gap: 25.3rem;
    align-items: center;
    width: 100%;

}


.imgLogin {
    height:99vh;

}
.fom{

    margin-top: 12rem;


}

.formLogin {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    .h1{
        text-align: center;
        color: #222244;    
        font-size: 48px;
        font-style: normal;
    }
    a{
        display:flex;
        justify-content: flex-start;
        align-self: flex-start;
        font-size: 12px;
        color: #818388;
        margin: 1rem;
  
        
    }
    .button{
        height: 5rem;
        width: 25rem;
        margin-top: 6rem;
        justify-content: center;
        align-items: center; 
    }
    .p{
        font-size: 2.4rem;
        align-self: flex-start;
        padding-bottom: 0%;
        margin: 1rem;
        padding-top: 2rem;
        color: #222244;
    }
}

@media (max-width: 1200px) {
    .main{
        gap: 15.3rem;
    
    }

}
@media (max-width: 1085px) {
    .main{
        gap: 4.3rem;
    
    }

}
@media (max-width: 970px) {

    .main{
        margin: auto;
        gap: 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .imgLogin{
        display: none;
    }

}
@media (max-width: 412px) {
    .main{
        margin: auto;
        .formLogin {

            .h1{
                margin: auto;
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }           

            .p{
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0.15px;
            }
            form{
                display: flex;
                width: 400px;
                height: 128px;
                flex-direction: column;
                flex-shrink: 0;
            }
        }
    
    }

}

