
.body{
    margin: 2rem;
    margin-top: 12rem;
    display: flex;
    align-items: center;
    flex-direction: column;
 
}
.add{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 1rem;
    .avatar{
        width: 12rem;
        height: 12rem;
    }
    .resto{
        p{
            margin-bottom: 1.5rem;
        }
        .pais{
            font-size: 16px;
            color: #0B0C0D;
        }
        .nome{
            font-size: 24px;
            color: #303133;
        }
        
    }
}
.midle{
    width: 90%;
    align-self: flex-start;
    margin-top: 20px;
    margin-bottom: 50px;
    p{
        margin: 10px;
    }
    
}
.final{
    width: 90%;

    

}

@media (max-width: 860px) {


 
 }
@media (max-width: 860px) {

    .midle{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
 }
 
 }
 @media (max-width: 425px) {
    .add{
        display: flex;
        align-items: flex-start;
        gap: 2rem;
        margin-top: 1rem;
        .avatar{
            width: 10rem;
            height: 10rem;
        }
        .resto{
            p{
                margin-bottom: 1.5rem;
            }
            .pais{
                font-size: 14px;
                color: #0B0C0D;
            }
            .nome{
                font-size: 22px;
                color: #303133;
            }
            
        }
    }
     .desc{
         width: 90%;
         p{  
   
             font-size: 14px;
             text-align: center;
         }
     }
     .midle{
         margin-top: 5rem;
         margin-bottom: 5rem;
         width: 100%;
         display: flex;
         justify-content: flex-start;
     }
     .final{
         display: flex;
         align-items: center;
         justify-content: center;
     }
 
 }
     @media (max-width: 360px) {
         .desc{
             p{  
                 width: 100%;
                 font-size: 14px;
                 text-align: center;
             }
         }
         .midle{
             margin-top: 5rem;
             margin-bottom: 5rem;
             width: 100%;
             display: flex;
             justify-content: flex-start;
         }
         .final{
             display: flex;
             align-items: center;
             justify-content: center;
         }
     
     
 }
 